/*@font-face {
    font-family: 'bad_scriptregular';
    src: url('../fonts/badscript-regular-webfont.eot');
    src: url('../fonts/badscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/badscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/badscript-regular-webfont.woff') format('woff'),
         url('../fonts/badscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/badscript-regular-webfont.svg#bad_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

	background: #ACABA6;
}

.wrapper{
	position: relative;

	width: 1100px; /*860+10+230*/
	min-height: 100%;
    height: auto !important; /*IE and so on*/
	overflow: hidden;
	margin: 0 auto;

	background-color: #fff;
}

.header{
	height: 50px;
	padding: 20px;

	border-top: 10px solid #ACABA6;
	border-bottom: 5px solid #ACABA6;

	background: #E6E1DA url("../images/icon.png") 900px 0px no-repeat;
}

.header-title{
	margin: 5px 0 0 30px;
}

.main{
	overflow: hidden;
}

.content{
	float: left;
	overflow: hidden;
	width: 860px;
}
.content:after{
	content: "";
	display: block;

	position: absolute;
	width: 10px;

	left: 860px;
	top: 105px;
	bottom: 0px;

	background-color: #ACABA6;	
}

.sidebar{
	float: right;
	overflow: hidden;
	width: 230px;
	padding-top: 36px;
}

.empty-for-footer{
	height: 95px; /* 10xp - reserve */
}

.footer{
	position: relative;
	width: 1060px;
	height: 30px;
	margin: -85px auto 0;
	padding: 20px;

	background-color: #957747;
	
	border-top: 5px solid #ACABA6;
	border-bottom: 10px solid #ACABA6;

	text-align: center;
}

.info{
	display: inline-block;
	margin-top: 10px;
}

.connections{
	float: right;
}

.links{
	overflow: hidden;
}

.links-item{
	float: left;
	margin-left: 5px;

}
.links-item:first-child{
	margin-left: 0;
}

.link-to{
	display: block;
	border-radius: 25px;
	height: 30px;
	width: 30px;
	text-decoration: none;
}
.link-to:hover{
	opacity: 0.8;
}
.link-to:active{
	box-shadow: inset 0 0 5px 0 #6D6F71;
}

.links-item-vk{
	background: #fff url("../images/vkontakte.png") 0 0 no-repeat;
	background-size: cover;
}

.links-item-mail{
	background: #fff url("../images/email.png") 0 0 no-repeat;
	background-size: cover;
}

.links-item-skype{
	background: #fff url("../images/skype.png") 0 0 no-repeat;
	background-size: cover;
}

.links-item-linkedin{
	background: #fff url("../images/linkedin.png") 0 0 no-repeat;
	background-size: cover;
}


/* COMMON STYLES */
.head-font{
	font-family: 'Lobster', cursive;
	font-size: 36px;
	color: #6D6F71;
	text-decoration: none;
}
a.head-font:hover{
	color: #99999F;
}
a.head-font:active{
	opacity: 0.8;
}

.title{
	padding: 10px 0;
	border: 3px solid #fff;
	border-bottom-width: 0;
	background-color: #957747;
	text-align: center;
}

.subtitle{
	margin: 3px 3px 2px;
	padding: 10px 0;
	background-color: #E6E1DA;
	
	box-shadow: 2px 2px 2px -2px #6D6F71;
	text-align: center;
}

.title-font{
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #fff;
}

.subtitle-font{
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #000;
}

.plain-font{
	padding: 20px;
	text-indent: 20px;
	font: normal 15px/20px Georgia, "Times New Roman", serif;
}
.plain-font:first-letter {
	font-weight: bold;
	font-size: 130%;
    font-style: italic;
}

.nav-title{
	padding: 10px 10px 10px 15px;
	background-color: #F2F1EC;
}

.nav{}

.nav-item{
	margin-top: 10px;
	padding: 5px 5px 5px 15px;
}
li.nav-item a:before{
	/*content: "\270F  "; symbol of a pencil &#9999;*/
	/*content: "\3B4  "; 	greek delta &#948;*/
	content: "\270d  "; /*symbol of a hand &#9997; */
}

.nav-title-font{
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6D6F71;
}

.nav-item-font{
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6D6F71;
	text-decoration: none;
	text-shadow: 1px 0px 1px #ACABA6;
}
a.nav-item-font:hover{
	color: #957747;
}
a.nav-item-font:active{
	opacity: 0.8;
}

/*icon was copied from http://zevs.ixrad.ru/avatars/avatars200-10.php*/
/*http://iconbird.com/view/41085_iconki_vkontakte_v_kontakte_vkontakte  Nail Sagitov*/
